
<!--start page Loader -->
<div id="preloader">
    <div id="status">
        <div class="load">
            <hr />
            <hr />
            <hr />
            <hr />
        </div>
    </div>
</div>
<!--end page Loader -->

 <!-- START NAVBAR -->
 <nav  id="navbar" class="navbar navbar-expand-lg fixed-top sticky" (window:scroll)="windowscroll()">
    <div class="container" appScrollspy [spiedTags]="['section']" (sectionChange)="onSectionChange($event)">
        <a class="navbar-brand" href="/">
          <!-- <img src="assets/images/logo-dark.png" alt="" height="23"> -->
          JCL Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" (click)="toggleMenu()" aria-label="Toggle navigation">
            <i class="mdi mdi-menu text-muted"></i>
        </button>
        <div class="collapse navbar-collapse" scrollSpy id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navList">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':curentsection === 'home'}" href="javascript:void(0);">Home</a>
                </li>
                <li class="nav-item" id="navbarDropdown" role="button">
                  <a class="nav-link" (click)="openResetPasswordModal()">Reset Password</a>
                </li>
                <li class="nav-item" id="navbarDropdown" role="button">
                  <a class="nav-link" (click)="openLoginModal()">Login</a>
                </li>
                <li class="nav-item" id="navbarDropdown" role="button">
                  <a class="nav-link" routerLink="/upload-file-keeper">Keepers</a>
                </li>
                <li class="nav-item" id="navbarDropdown" role="button">
                  <a class="nav-link" routerLink="/chat">Chat</a>
                </li>
                <li class="nav-item" id="navbarDropdown" role="button">
                  <a class="nav-link" routerLink="/prizepicks">PrizePicks</a>
                </li>
                <li class="nav-item" id="navbarDropdown" role="button">
                  <a class="nav-link" routerLink="/voter">Voter</a>
                </li>
            </ul>
            <!--end navbar-nav-->
            <ul class="list-inline mb-0 ps-lg-4 ms-2">
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-facebook me-1"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-twitter me-1"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-instagram"></i></a>
                </li>
            </ul>
        </div>
        <!--end collapse-->
    </div>
    <!--end container-->
</nav>
<!-- END NAVBAR -->
