<section class="container" [class.navbar-expanded]="navbarExpanded" id="mainContent">
  <section class="file-uploader">
    <fieldset class="file-input">
      <label for="currentPlayerList">Final Player List</label>
      <input id="currentPlayerList" type="file" onclick="this.value = null" (change)="onCurrentPlayerListUpload($event)" accept="csv">
    </fieldset>
    <fieldset class="file-input">
      <label for="transactionLog">2023 Transaction Log</label>
      <input id="transactionLog" type="file" onclick="this.value = null" (change)="onTransactionHistoryUpload($event)" accept="csv">
    </fieldset>
    <fieldset class="file-input">
      <label for="previousPlayerList">Prior Year Auction Results</label>
      <input id="previousPlayerList" type="file" onclick="this.value = null" (change)="onPreviousPlayerListUpload($event)" accept="csv">
    </fieldset>
    <button [disabled]="!allFilesSelected() || isProcessing" class="keeper-submit" (click)="onKeeperSubmit($event)">Submit</button>
  </section>
  <hr>
  <section *ngIf="fileCreated">
    <p>This section should be for reviewing results</p>
    <p>File created successfully!</p>
  </section>
</section>
